{% extends "base.html" %} 
{% load static %}
{% block javascript %}
<script src="{% static 'js/peekaboo.js' %}" defer></script>
{% endblock javascript %}
{% block content %}

<h1 class="deck_name">{{deck.name}}</h1>
<h2 class="instructions">Hover over card to see answer</h2>
<button class="start-deck" id="start-deck-button">Start Deck</button>
{% for card in cards %}
<div class="content display-none" id={{forloop.counter}}>
  <div class="card">
    <div class="card__side card__side--front">
      <!-- Front Content -->
      <div class="card__cont">
        <span>(<span class="green">{{ card.question }}</span>)</span>
      </div>
    </div>
    <div class="card__side card__side--back">
      <!-- Back Content -->
      <div class="card__cta">
        <span class="green">{{ card.answer }}</span>
      </div>
    </div>
  </div>
</div>
{% endfor %}
<button class="display-none" id="next-button">Next Card</button>
{% endblock content %}